.contenedor-footer {
    border-top: 1px solid $custom-primary;
    background-color: $custom-background;
    padding: 5rem 0px 5rem 0px;
    overflow: hidden;

    .columna-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid green;

        .footer-img {
            width: 150px;
            height: 150px;
        }
    }

    .columna-indice {
        min-height: 300px;
        border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .indice-titulo {
            color: $custom-primary;
            font-family: $titulos;
            font-size: $secciones-titulos;
            font-weight: 500; 
            margin-bottom: 1rem;
        }

        .indice-lista li {

            .indice-text {
                color: $custom-primary;
                font-family: $parrafos;
            }
        }
    }

    .columna-contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .contacto-titulo {
            color: $custom-primary;
            font-family: $titulos;
            font-size: $secciones-titulos;
            font-weight: 500; 
        }

        .contacto-p {
            color: $custom-primary;
            font-family: $parrafos;
        }
    }
}