// Colores personalizados

$custom-primary: #ffffff; 
$custom-secondary-1: #F2F601; 
$custom-secondary-2: #f2f6017d; 
$custom-background: #000000;
$custom-degrade: linear-gradient(to right, #ffffff, #F2F601);

$titulos-color: #000000;


// Typografia

$titulos: "Pirata One", serif;
$parrafos: "Open Sans" "Recursive", serif;

$secciones-titulos: 40px;
